@font-face {
    font-family: "Neutro";
    src: url("../fonts/Neutro-Bold.woff") format("woff");
  }
  
  #menu_1 {
    height: 10vh;
    width: 20vw;
    border: 1px solid #FFFFFF;
    position: absolute;
    z-index: 999999;
    left: 20vw;
    top: 80vh;
    bottom: 8vh;
    text-align: center;
    display: table; 
     }
  
     #menu_1:hover {
      background: white;
    }
    #menu_1:hover a{
      color: black;
    }
  
    #menu_2 {
        height: 10vh;
        width: 20vw;
        border: 1px solid #FFFFFF;
        position: absolute;
        z-index: 999999;
        left: 60vw;
        top: 80vh;
        bottom: 8vh;
        text-align: center;
        display: table; 
       }
    
       #menu_2:hover {
        background: white;
      }
      #menu_2:hover a{
        color: black;
      }

  
    a {
        color: #fff;
        font-size: 3vh;
        font-family: "Neutro";
        margin: auto;
        vertical-align: middle;
        display: table-cell;    
    }
  
    @media screen and (max-width: 897px){
      
       .cursor,text,cursor-dot,cursor-dot-outline{
         display: none;
       }
  
       #menu_1 {
        height: 7vh;
        width: 30vw;
        border: 1px solid #ffffff;
        position: absolute;
        z-index: 999999;
        left: 15vw;
        top: 70vh;
        text-align: center;
        display: table; 
       }
  
       #menu_2 {
          height: 7vh;
          width: 30vw;
          border: 1px solid #ffffff;
          position: absolute;
          z-index: 999999;
          left: 55vw;
          top: 70vh;
          text-align: center;
          display: table; 
         }


       canvas {
         overflow: hidden;
       }
  
    }
  
  
  html, 
  html *, 
  body, 
  body * {
    cursor: none;
  }
  .cursor-dot,
  .cursor-dot-outline {
    mix-blend-mode: normal;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  
  .cursor-dot {
    z-index:99999999;
    width: 4.0px;
    height: 4.0px;
    background-color: rgba(255, 255, 255, 0.72);
    border: solid;
    border-radius: 50%;
    border-width: 0px;
    border-color: #ffffff;
  }
  
  .cursor-dot-outline {
    z-index:99999998;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.00);
    border: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: #ffffff;
  }
  